<!doctype html>
<html lang='ja'>
  <head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>やば道チェッカー</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>