<%- await include("header.ejs") %>
<img src="logo.png">
<h1>やば道チェッカー</h1>
<div class="msg">
  いつも通い慣れているあなたの通学路！<br/>
  危険な場所があるかチェックしてみましょう！
</div>
<a href="select"><button>始める</button></a>
<a href="ranking"><button>ランキング</button></a>
<style>
img {
  width: 30vw;
}
button {
  margin: 1em;
}
</style>
<%- await include("footer.ejs") %>